vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Sep 2019 19:23:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index-1.php index-1.html
vti_author:SR|MY_COMPUTER\\ramky
vti_modifiedby:SR|MY_COMPUTER\\ramky
vti_timecreated:TR|15 Sep 2019 19:23:00 -0000
vti_cacheddtm:TX|15 Sep 2019 19:23:00 -0000
vti_filesize:IR|31420
vti_cachedlinkinfo:VX|S|../fonts/LineIcons.eot S|../fonts/LineIcons.eot S|../fonts/LineIcons.ttf S|../fonts/LineIcons.woff S|../fonts/LineIcons.svg
vti_cachedsvcrellinks:VX|FSUS|assets/images/Web-Landing/fonts/LineIcons.eot FSUS|assets/images/Web-Landing/fonts/LineIcons.eot FSUS|assets/images/Web-Landing/fonts/LineIcons.ttf FSUS|assets/images/Web-Landing/fonts/LineIcons.woff FSUS|assets/images/Web-Landing/fonts/LineIcons.svg
